<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header ">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0 text-center" href="/">
            <span class="ms-auto font-weight-bold fs-3">JS Nang Cao</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#applicationsExamples" class="nav-link " aria-controls="applicationsExamples" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-ungroup text-info text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Lab 1</span>
                </a>
                <div class="collapse " id="applicationsExamples">
                    <ul class="nav ms-4">
                        <li class="nav-item ">
                            <a class="nav-link " href="/lab1/bai1 %>">
                                <span class="sidenav-mini-icon"> K </span>
                                <span class="sidenav-normal"> Bai 1 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/lab1/bai2">
                                <span class="sidenav-mini-icon"> W </span>
                                <span class="sidenav-normal"> Bai 2 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</aside>